header {
    position: relative;
    background-color: var(--header-bg-color);
    height: 4.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.handlers {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.search {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .6rem .7rem;
    background-color: var(--secondary-color);
    border-radius: 1.4rem;
}

.search input[type='text'] {
    background-color: transparent;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.6rem;
    outline: none;
}

.profile {
    position: relative;
}

.profile__inner {
    color: #fff;
    height: 4.2rem;
    padding: .7rem .9rem;
    background-color: var(--header-bg-dark-color);
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
}

.profile h3 {
    font-size: 1.25rem;
    font-weight: 900;
}

.profile img {
    width: 2.8rem;
    height: 2.8rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 50%;
    background-color: #fff;
    padding: .3rem;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile__menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1.2rem 0;
    background-color: #fff;
    border-radius: 0 0 .8rem .8rem;
    width: 13rem;
}

.profile__menu li a {
    display: flex;
    gap: .8rem;
    align-items: center;
    height: 3.6rem;
    padding: 0 1.2rem;
    font-size: 1.3rem;
}

.profile__menu li a:hover {
    background-color: var(--border-shadow-color);
}