* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #edeefe;
    font-size: 62.2%;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}


.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
}